extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='/javascripts/jquery.min.js', type='text/javascript')
  script(src='/javascripts/comm.js', type="text/javascript")
  div
   form(id='phonesensor')
   h2 Phone Sensor <br/>   
    select(name='Graph',id='graph')
     option(value='generic', selected=true) ----
     option(value='avg') Average
     option(value='wavg') Weight Vote
    select(name='Zone',id='zone')
     option(value='generic', selected=true) ----
     option(value='zone1') Zone 1
     option(value='zone2') Zone 2
     option(value='zone3') Zone 3
     option(value='zone4') Zone 4
     option(value='zone') Zone All
    select(name='Sensor',id='sensor')
     option(value='generic', selected=true) ----
     option(value='andro1') Android 1
     option(value='andro2') Android 2
     option(value='andro3') Android 3
     option(value='zig1') Zigduino 1
     option(value='zig2') Zigduino 2
     option(value='zig3') Zigduino 3
     option(value='zig4') Zigduino 4     
    select(name='SensorType',id='sensortype')
     option(value='generic') ----
     option(value='ACL') Accelerometer
     option(value='VC') Audio Sensor
     option(value='LASER') Laser
     option(value='PIR') PIR
    input(type='text',name='starttime',id='starttime',placeholder='ddmmyyyyhhmmss',value='')
    input(type='text',name='endtime',id='endtime',placeholder='ddmmyyyyhhmmss',value='')
    input(type='submit',value='Submit',id='sendButton')
    <hr/>
    img(src='images/office_space.jpg',id='graphimage',alt='Visual Display')    
    div(id='loading-div-background')
     div(id='loading-div',class='ui-corner-all')
      img(style='height:80px;margin:30px;',src='images/loading.gif',alt='Loading..')
      h2(style='color:gray;font-weight:normal') Please wait....
    